

.reveal section {
    ul {
        li {
            line-height: 1.5em;
        }
    }
    h2 {
    	margin-bottom: 50px;
    }
	h4 {
		margin-top: 90px;
		font-size: 80px;
		line-height: 1.2em;
	}
	blockquote {
		margin: 100px auto;
		font-family: 'Port Lligat Sans';
	}    
	ul {
		margin-top: 30px;
	}
}

.command {
	color: #888;
	font-family: monospace;
	font-style: italic;
}


#slide_intro {
	img {
		margin: auto;
		display: block;
	}
}

#slide_more_about {
    li {
        list-style: none;
        line-height: 2em;
    }
}


#slide_title {
	h1 {
		margin: 180px auto 100px;
		font-family: 'Changa One';
		color: @tron;
        letter-spacing: 0.1em;
	}
	h3 {
		text-align: center;
	}
    h4 {
        font-size: 30px;
    }
}

@tron: #FFC340;

/*http://colorschemedesigner.com/#3i41Ww0w0w0w0*/
@red:      #33CCCC;
@orange:   #6D87D6;
@blue:     #FFC340;
@green:    #FF9640;

.slides section:nth-of-type(4n+2) h2 {
	color: @red;
}
.slides>section:nth-of-type(4n+3) h2 {
	color: @orange;
}
.slides>section:nth-of-type(4n) h2 {
	color: @blue;
}
.slides>section:nth-of-type(4n+1) h2 {
	color: @green;
}

#slide_batchs {
	h2 {
	}
}

#slide_services {
	h2 {
	}	
}

#slide_system {
	h2 {
	}
}

#slide_collections {
	img {
		margin: 0;
	}
}

@commands: #3D9AD1;

#slide_end {
	h1 {
		line-height: 1.3em;
		letter-spacing: 0.05em;
	}
	h3 {
		text-align: center;
	}
}
