
@tron: #BFA130;

#slide_title {
	h1 {
		margin: 180px auto 100px;
		font-family: 'Changa One';
		color: @tron;
	}
}


#slide_image_grid {
	.container {
		float: left;
		margin: 0 60px;
		div {
			width: 220px;
			margin: 10px;
			height: 180px;
			background: transparent;
			float: left;
			padding: 10px;
			color: white;
			font-weight: bold;
			text-align: left;
			font-size: 40px;
			font-family: 'bitstream vera sans';
			line-height: 1.2em;			
		}
		img {
			border: 0;
			margin: auto auto;
			box-shadow: 0;
			background: transparent;
		}
		div:nth-child(1) {
			p {
				padding-top: 65px;
				font-family: 'Changa One';
				color: @tron;
				font-size: 50px;
				letter-spacing: 0.15em;
			}
		}
		div:nth-child(5) {
			text-align: center;
			img {
				margin-top: 30px;
			}

		}
		div:nth-child(6) ul {
			margin-top: 30px;
			list-style: none;
		}
		div:nth-child(7) {
			p {
				padding-top: 65px;
				font-family: 'Open Sans';
			}
		}
	}
}

/*http://colorschemedesigner.com/#3u322w0w0w0w0*/
@system_color:  #64A8D1;
@batch_color:   #FFC900;
@service_color: #FF4940;

#slide_description {
	 p {
		width: 80%;
		margin: 150px auto 0;
		font-size: 48px;
		line-height: 1.2em;
		text-align: left;
	}

	p.highlight {
		-webkit-transition: 2s;
		span {
			font-weight: bold;
		}
		span:nth-child(1) {
			color: @system_color;
		}
		span:nth-child(3) {
			color: @batch_color;
		}
		span:nth-child(4) {
			color: @service_color;
		}
	}

}

#zen {
	background: #222;
	padding: 30px 100px;
	font-size: 22px;
	width: auto;
}

#analogy {
	div, img {
		float: left;
		display: block;
	}
	div {
		font-family: 'Changa One';
		padding-top: 150px;
		font-size: 80px;
		width: 120px;
	}
}

#slide_state_persistence {
	pre {
		max-height: 250px;
		overflow: auto;
	}
}


#slide_whats_the_deal {
	h4 {
		margin-top: 90px;
		font-size: 80px;
	}
}

#slide_end {
	h1 {
		line-height: 1.3em;
		letter-spacing: 0.05em;
	}
}