

.reveal section {
    ul {
        li {
            line-height: 1.5em;
        }
    }
    h2 {
    	margin-bottom: 100px;
    }
	h4 {
		margin-top: 90px;
		font-size: 80px;
		line-height: 1.2em;
	}
	blockquote {
		margin: 100px auto;
		font-family: 'Port Lligat Sans';
	}    
}

.command {
	color: #888;
	font-family: monospace;
	font-style: italic;
}


#slide_intro {
	img {
		margin: auto;
		display: block;
	}
}


@tron: #BFA130;

#slide_title {
	h1 {
		margin: 180px auto 100px;
		font-family: 'Changa One';
		color: @tron;
        letter-spacing: 0.1em;
	}
	h3 {
		text-align: center;
	}
    h4 {
        font-size: 30px;
    }
}


/*http://colorschemedesigner.com/#3u322w0w0w0w0*/
@system_color:  #64A8D1;
@batch_color:   #FFC900;
@service_color: #FF4940;

#slide_description {
	 p {
		width: 80%;
		margin: 150px auto 0;
		font-size: 48px;
		line-height: 1.2em;
		text-align: left;
	}

	p.highlight {
		-webkit-transition: 2s;
		span {
			font-weight: bold;
		}
		span:nth-child(1) {
			color: @system_color;
		}
		span:nth-child(3) {
			color: @batch_color;
		}
		span:nth-child(4) {
			color: @service_color;
		}
	}

}

#slide_batchs {
	h2 {
		color: @batch_color;
	}
}

#slide_services {
	h2 {
		color: @service_color;
	}	
}

#slide_system {
	h2 {
		color: @system_color;
	}
}

@commands: #3D9AD1;

#slide_commands {
	h3 {
		color: @commands;
	}
	h3, p {
		text-align: left;
	}
	pre.output {
		background: #222;
		padding: 30px;
		width: 80%;
		strong {
			color: #FF0D00;
		}
		.fail {
			color: red;
		}
		.header {
			background: #555;
		}
		.dates {
			color: #777;
		}
	}
}

@exhibit: #FFE173;

#slide_state_machine {
	h3 {
		color: @exhibit;
	}
}

#zen {
	background: #222;
	padding: 30px 100px;
	font-size: 22px;
	width: auto;
    strong {
        color: @exhibit;
    }
}

#analogy {
}

#slide_state_persistence {
	pre {
		max-height: 500px;
		overflow: auto;
	}
}


.howto {
    h2 {
        color: #64A8D1;
    }
}

.quote_credit {
	width: 85%;
	text-align: right;
}


#slide_whats_the_deal {
	h4 {
		
	}
}

#slide_design_patterns {
	img {
		margin: -100px 0 0 -100px;
		-webkit-transform:rotate(-15deg);
	}
    ul {
        margin: 0;
    }
}

#slide_end {
	h1 {
		line-height: 1.3em;
		letter-spacing: 0.05em;
	}
	h3 {
		text-align: center;
	}
}
